pandas 
numpy 
scikit-learn 
mlflow 
flask
notebook
ipykernel
dvc

keras  
tensorflow
hyperopt

boto3 


'''
- MLOPs started on (Aug-7-2025)


MLFLOW with AWS is  not completed yet (78)

have to learn  DVC

Docker also have not learn yet (85)


'''