pandas 
numpy 
scikit-learn 
mlflow 
flask
notebook
ipykernel
dvc

keras  
tensorflow
hyperopt

boto3 


'''
MLFLOW with AWS is  not completed yet (78)

DVC have to learn 

Docker also have not learn yet (85)


'''